body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f1f1f1;
  padding:50px;
  background-image: url("../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div#crypto-container {
  background:white;
  width: 70%;
  margin: 0 auto 4px auto;
  padding: 1em;
  box-shadow: 1px 1px 0 lightgrey;
}

title {
  font-size: 10px;
}

span.left {
  font-weight: bold;
}

span.right {
  float:right;
}

h1 {
  color: #003366;
}

h2 {
  font-size: 36px;
  color: #0b1a4d;
}

/*blog images*/
img {
  height: 200px;
  width: 250px;
}

/*logo in navbar*/
.logo img {
  height: 65px;
  width: 300px;
}




